/*Index*/
body {
    margin: 0%;
    position: absolute;
    top: 15vh;
}
a {   
    text-decoration: none;
    color: #ffffff;
}
header{
    width: 100%;
    height: 20vh;
    position: fixed;
    background: #ffffff;
    top: 0;
}
h3 {
    color: #DB4075;
    font-size: 30px;
    font-family: 'Jost', sans-serif;
}
h1{
    font-family: "Jost";
    font-size: 20px;
    color: #DB4075;
}
/* NAVEGADOR */
nav {
    height: 20vh;
}
.navegador{
    height: 15vh;
}
.logoPrincipal{
    height: 100%;
    margin-left: 120px;
    margin-top: 10px;
}
.input-buscador {
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 350px;
}
#Buscador {
    width: 400px;
    border: none;
    border-bottom: 1px solid #FF4E54;
}
#Buscador:hover {
    width: 600px;
    color: #e953a3;
    border: none;
    border-bottom: 1px solid #FF4E54;
}

.links-navegador {
    background: #FF4E54;
    display: flex;
    justify-content: center;
}

.links-navegador li {
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
    position: relative;
    left: 10px;
}
.links-navegador a{
    font-size: 15px;
}
.links-navegador a:hover{
    font-size: 16px;
    transition: .4s all;
}
/* FIN NAVEGADOR  */


/* INICIO BODY */
.section-empresa{
    background:#e0d2ff;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.section-empresa p {
    font-size: 15px;
}
.imgP {
    margin: 100px 0px;
    width: 100%;
}

/* Seccion de Imagenes */

.seccImgs{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;

}
.seccImgs__prod{
    background: #e0d2ff;
    width: 25%;
    height: 300px;
    margin: 30px 10px;
    text-align: center;
    align-items: center;
    border: 5px solid #cdbcf1;
}
.seccImgs__prod:hover{
    width: 28%;
    height: 310px;
    transition: .4s all;
}
.seccImgs__prod img {
    height: 200px;
    padding: 15px;
}
.seccImgs h3 {
    font-size: 20px;
    text-align: center;
}
.mas_flecha {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.img-flecha{
    height: 65px;
    padding: 10px;
}
.img-flecha:hover {
    height: 80px;
    transition: .5s all;
}

footer {
    height: 7vh;
    background-color: #EEAAFA;
    display: flex;
    justify-content:space-between;
}





@media only screen and (max-widht: 500px) {
    
}




/*Contacto*/

.formulario {
    width: 70vh;
    margin: 30px;
    display: flex;
}
.form-div {
    padding: 15px;
}
.form__contacto input {
    padding: 12px 20px;
    margin: 5px 5px;
    border: 1px solid #ff9fe7;
    border-radius: 4px;
    cursor: text;
}
textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 10px;
    border: 1px solid #ff9fe7;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.submit {
    background: #EEAAFA;
    color: #f8f8f8;
    font-size: 15px;
    cursor:default;
    border-radius: 5px;
}
.formulario img {
    margin: 5px;
    width: 300px;
}

/*Contacto*/


/*AGENDAS*/

.agenda-uni{
    background-color: #d786a2;
    display: flex;
    flex-direction: row;
}
.agenda-uni li{
    justify-content:space-around;
    flex-direction:row;
    width: 80%;
}

.agenda-uni img{
    width:20%;
}


/*Contacto*/

.redes {
    width: 50%;
    border: #DB4075;
    margin: 100px;
    display: flex;
    justify-content: center;
}
.imag-redes{
    width:40% ;
}
.imag-redes img {
    width: 40%;
}