/*Index*/
body {
    margin: 0%;
}
a {   
    text-decoration: none;
    color: #ffffff;
}
header {
    background-color: #fff;
    width: 100%;
    height: 10vh;
    text-align:start;
    position: fixed;
    margin-left: 30px;

}
.logo-princ{
    width: 90px;
    margin: 5px;
}

h3, h2 {
    color: #DB4075;
    font-size: 25px;
    font-family: 'Jost', sans-serif;
}

/* NAVEGADOR */
nav {
    height: 15vh;
    position: fixed;
    margin: 100px 0px;
}

.input-buscador{
    width: 200px;
    border: none;
    border-bottom: 1px solid #916ad6;
    position: relative;
    top: 10px;
}
.input-buscador:hover {
    width: 350px;
    color: #916ad6;
    border: none;
    border-bottom: 1px solid #916ad6;
}

.links-navegador {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
}

.links-navegador li {
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
    position: relative;
    left: 10px;
    border-right: 1px solid #916ad6;
}
.links-navegador a{
    font-size: 15px;
    color: #916ad6;
}
.links-navegador a:hover{
    font-size: 16px;
    transition: .4s all;
}
/* FIN NAVEGADOR  */


/* INICIO BODY */
.section-empresa{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.section-empresa p {
    font-size: 15px;
}
.imgP {
    margin: 100px 0px;
    width: 100%;
}

/* Seccion de Imagenes */

.seccImgs{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;

}
.seccImgs__prod{
    width: 25%;
    height: 300px;
    margin: 30px 10px;
    text-align: center;
    align-items: center;
    border: 5px solid #c0b6d5;
}
.seccImgs__prod:hover{
    width: 28%;
    height: 310px;
    transition: .4s all;
}
.seccImgs__prod img {
    height: 200px;
    padding: 15px;
}
.seccImgs h3 {
    font-size: 20px;
    text-align: center;
}
.mas_flecha {
    display: flex;
    justify-content: flex-end;
}
.img-flecha{
    height: 65px;
    padding: 10px;
}

.img-flecha:hover {
    height: 80px;
    transition: .5s all;
}

footer {
    height: 10px;
    background-color: #916ad6;
    display:block;
    
}

footer ul {
    background: #916ad6;
    padding: 15px 15px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: fixed;

}

.footer li {
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
}
.fa-home {
    color: #ffffff;
}
.fa-envelope-o {
    color: #ffffff;
}




@media only screen and (max-widht: 500px) {
    
}

/*Contacto*/

.formulario {
    width: 70vh;
    margin: 30px;
    display: flex;
}
.form-div {
    padding: 15px;
}
.form__contacto input {
    padding: 12px 20px;
    margin: 5px 5px;
    border: 1px solid #b1a0d5;
    border-radius: 4px;
    cursor: text;
}
textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 10px;
    border: 1px solid #b1a0d5;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.submit {
    background: #b1a0d5;
    color: #f8f8f8;
    font-size: 15px;
    cursor:default;
    border-radius: 5px;
}
.formulario img {
    margin: 5px;
    width: 300px;
}

/*Contacto*/


/*AGENDAS*/

.agenda-uni{
    background-color: #d786a2;
    display: flex;
    flex-direction: row;
}
.agenda-uni li{
    justify-content:space-around;
    flex-direction:row;
    width: 80%;
}

.agenda-uni img{
    width:20%;
}


/*Contacto*/

.redes {
    width: 50%;
    border: #916ad6;
    margin: 100px;
    display: flex;
    justify-content: center;
}

.imag-redes{
    width:40% ;
}
.imag-redes img {
    width: 40%;
}